.footer-container {
  background-color: $ui-05;
  height: 50px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h3 {
    margin: 0 10px;
  }
;
}